In [5]:
import pandas as pd

In [7]:
student_data = pd.read_csv('data/students.csv', sep=',')

In [8]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [10]:
student_data.loc[155, 'writing score']

np.int64(88)

In [13]:
print(round(student_data['math score'].mean()))

66

In [14]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [20]:
course = student_data['test preparation course'] == 'completed'
round(student_data['reading score'][course].mean())

74

In [28]:
student_data[student_data['math score'] == 0].shape

(1, 8)

In [38]:
free = student_data['lunch'] == 'free/reduced'
student_data['math score'][free].mean()

np.float64(58.92112676056338)

In [40]:
standart_lunch = student_data['lunch'] == 'standard'
round(student_data['math score'][standart_lunch].mean())

70

In [44]:
round(student_data['parental level of education'].value_counts(normalize=True) * 100)

parental level of education
some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: proportion, dtype: float64

In [50]:
group_a = student_data['race/ethnicity'] == 'group A'
student_data['writing score'][group_a].median()

np.float64(62.0)

In [51]:
group_c = student_data['race/ethnicity'] == 'group C'
student_data['writing score'][group_c].median()

np.float64(68.0)