In [47]:
import pandas as pd
citybike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citybike_tripdata.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
citybike_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [5]:
# 6.3
citybike_tripdata['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [6]:
# 6.4
citybike_tripdata['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [19]:
# 6.5
#citybike_tripdata['usertype'].mode()
citybike_tripdata[citybike_tripdata['usertype'] == 'Subscriber'].shape[0]
value = 232202/300000
print(round(value,2))

0.77

In [ ]:
# 6.6

men = citybike_tripdata[citybike_tripdata['gender'] == 1].shape[0]
women = citybike_tripdata[citybike_tripdata['gender'] == 2].shape[0]
citybike_tripdata[citybike_tripdata['']]

183582 74506

In [30]:
# 6.7
citybike_tripdata['end station name'].unique().shape[0]
citybike_tripdata['start station name'].unique().shape[0]
citybike_tripdata['end station name'].value_counts()

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Montrose Ave & Bushwick Ave       1
Warren St                         1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

In [31]:
# 6.8

citybike_tripdata = citybike_tripdata.drop(['start station id', 'end station id'], axis=1)
citybike_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [36]:
# 6.9

#citybike_tripdata['Age'] = 2018 - citybike_tripdata['birth year']
#citybike_tripdata = citybike_tripdata.drop(['birth year'], axis=1)
citybike_tripdata[citybike_tripdata['Age'] > 60].shape[0]

11837

In [40]:
# 6.10

citybike_tripdata['starttime'] = pd.to_datetime(citybike_tripdata['starttime'])
citybike_tripdata['stoptime'] = pd.to_datetime(citybike_tripdata['stoptime'])
citybike_tripdata['Trip duration'] = citybike_tripdata['stoptime'] - citybike_tripdata['starttime']
citybike_tripdata['Trip duration'][3]

Timedelta('0 days 00:07:16.837000')

In [46]:
# 6.11

citybike_tripdata['weekend'] = citybike_tripdata['starttime'].dt.day_of_week
def get_weekend(weekend):
    if weekend == 5:
        return 1
    elif weekend == 6:
        return 1
    else:
        return 0
citybike_tripdata['weekend'].apply(get_weekend).sum()

np.int64(115135)